body{
    background-color: bisque;
    height: 900px;
    width: 1000x;
}

#contenedor{
    background-color: rgb(224, 194, 141);
    height: 15%;
}

#encabezado{
    background-color: rgb(230, 200, 149);
    height: 15%;
    border-width: 10em;
    border-color: black;
}

#menu{
    background-color: rgb(171, 161, 134);
    height: 5%;
    color:black;
}

#seccion{
    background-color: rgb(151, 158, 54);
    height: 70%;
    width: 60%;
    float: left;
}

#mascontenido{
    background-color: rgb(190, 193, 79);
    height: 60%;
    width: 38%;
    float: right;
}

#pie{
    background-color: rgb(230, 200, 149);
    margin-left: auto;
    height: 10%;
    text-align: center;
    color: black;
}

ul{
    text-align: center;
}

img{
    width: 100px;
    height: 100px;
    border-width: solid 1px;
    margin-left: 10%;
    margin-right: 10%;
}

.titulos{
    text-align: center;
    font-size: large;
    color: red;
    font-size: 0.9cm;

}

.titulo{
    text-align: center;
    color: green;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 1100;
    font-size: 2cm;


}

.texto{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 0.5cm;
}

.hipervinculos{
    color: black;
}

